USE [InternalQM]
GO
/****** Object:  Table [dbo].[AccountPermission]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountPermission](
	[AccountId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
 CONSTRAINT [PK_AccountPermission] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Salt] [nvarchar](255) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[IsDelete] [tinyint] NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](5) NULL,
	[DepartmentId] [bigint] NOT NULL,
	[HireDate] [date] NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeViolation5S]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeViolation5S](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[Violation5SId] [bigint] NOT NULL,
	[DateMonth] [date] NOT NULL,
	[Qty] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeViolation5S] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeWorkHistories]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeWorkHistories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_EmployeeWorkHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentRepairs]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentRepairs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EquipmentCode] [nvarchar](50) NULL,
	[EquipmentName] [nvarchar](200) NOT NULL,
	[Qty] [int] NOT NULL,
	[DepartmentId] [bigint] NULL,
	[ErrorCondition] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[ProcessingMethod] [nvarchar](max) NULL,
	[DateMonth] [date] NOT NULL,
	[CompletionDate] [date] NULL,
	[ConfirmCompletionDate] [date] NULL,
	[RemedialStaff] [nvarchar](500) NULL,
	[RecipientOfRepairedDevice] [nvarchar](100) NULL,
	[RepairCosts] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_EquipmentRepair] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExaminationCycles]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExaminationCycles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CycleName] [nvarchar](50) NOT NULL,
	[DateMonth] [date] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_ExaminationCycle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[ListAnswer] [nvarchar](500) NOT NULL,
	[IsShow] [tinyint] NOT NULL,
	[MultipleChoiceScore] [tinyint] NOT NULL,
	[EssayScore] [tinyint] NULL,
	[Note] [nvarchar](max) NULL,
	[ExamId] [bigint] NOT NULL,
	[EssayResultPDF] [nvarchar](255) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_ExamResult] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamCategory] [nvarchar](50) NOT NULL,
	[ExamName] [nvarchar](255) NOT NULL,
	[DurationMinute] [int] NOT NULL,
	[IsActive] [tinyint] NOT NULL,
	[TlTotal] [tinyint] NOT NULL,
	[EssayQuestion] [nvarchar](max) NULL,
	[DepartmentID] [bigint] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTrialRun]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTrialRun](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](500) NOT NULL,
	[DurationMinute] [int] NOT NULL,
	[IsActive] [tinyint] NOT NULL,
	[TestLevel] [nvarchar](20) NOT NULL,
	[EssayQuestion] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_ExamTrialRun] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTrialRunAnswer]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTrialRunAnswer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](10) NOT NULL,
	[ListAnswer] [nvarchar](500) NOT NULL,
	[IsShow] [tinyint] NOT NULL,
	[MultipleChoiceCorrect] [tinyint] NOT NULL,
	[MultipleChoiceInCorrect] [tinyint] NOT NULL,
	[MultipleChoiceFail] [tinyint] NOT NULL,
	[EssayCorrect] [tinyint] NOT NULL,
	[EssayInCorrect] [tinyint] NOT NULL,
	[EssayFail] [tinyint] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ExamTrialRunId] [bigint] NOT NULL,
	[EssayResultPDF] [nvarchar](255) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_ExamTrialRunAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kaizens]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kaizens](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DateMonth] [date] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[AppliedDepartment] [nvarchar](50) NULL,
	[ImprovementGoal] [nvarchar](50) NULL,
	[ImprovementTitle] [nvarchar](max) NOT NULL,
	[CurrentSituation] [nvarchar](max) NULL,
	[ProposedIdea] [nvarchar](max) NOT NULL,
	[EstimatedBenefit] [nvarchar](max) NULL,
	[TeamLeaderRating] [nvarchar](10) NULL,
	[ManagementReview] [nvarchar](10) NULL,
	[Picture] [nvarchar](255) NULL,
	[Deadline] [nvarchar](100) NULL,
	[StartTime] [nvarchar](100) NULL,
	[CurrentStatus] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_Kaizen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_MG]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_MG](
	[MachineCode] [nvarchar](50) NOT NULL,
	[MachineGroupId] [bigint] NOT NULL,
	[Material] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Machine_MG] PRIMARY KEY CLUSTERED 
(
	[MachineCode] ASC,
	[MachineGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineGroups]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineGroups](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NULL,
	[MachineType] [nvarchar](200) NOT NULL,
	[Standard] [nvarchar](500) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_MachineGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineMaintenances]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineMaintenances](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MachineCode] [nvarchar](50) NOT NULL,
	[DateMonth] [date] NOT NULL,
	[MaintenanceStaff] [nvarchar](200) NULL,
	[MaintenanceContent] [nvarchar](max) NOT NULL,
	[IsComplete] [tinyint] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_MachineMaintenance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineParameters]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineParameters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MachineId] [bigint] NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Parameters] [decimal](6, 3) NOT NULL,
	[DateMonth] [date] NOT NULL,
 CONSTRAINT [PK_MachineParameter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TypeMachine] [nvarchar](100) NULL,
	[MachineCode] [nvarchar](50) NOT NULL,
	[MachineName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Version] [nvarchar](100) NULL,
	[NumberOfAxes] [int] NULL,
	[NumberOfKnifeSocket] [int] NULL,
	[SpindleSpeed] [nvarchar](50) NULL,
	[BottleTaper] [nvarchar](50) NULL,
	[MachineTableSizeX] [decimal](18, 2) NULL,
	[MachineTableSizeY] [decimal](18, 2) NULL,
	[MachineJourneyX] [decimal](18, 2) NULL,
	[MachineJourneyY] [decimal](18, 2) NULL,
	[MachineJourneyZ] [decimal](18, 2) NULL,
	[WideSize] [decimal](18, 2) NULL,
	[DeepSize] [decimal](18, 2) NULL,
	[HighSize] [decimal](18, 2) NULL,
	[OuterPairX] [decimal](18, 2) NULL,
	[OuterPairZ] [decimal](18, 2) NULL,
	[PairInsideX] [decimal](18, 2) NULL,
	[PairInsideZ] [decimal](18, 2) NULL,
	[TailstockX] [decimal](18, 2) NULL,
	[TailstockZ] [decimal](18, 2) NULL,
	[Weight] [decimal](4, 2) NULL,
	[Picture] [nvarchar](200) NULL,
	[Price] [decimal](18, 0) NULL,
	[MachineCapacity] [decimal](10, 3) NULL,
	[MachineOrigin] [nvarchar](50) NULL,
	[Place] [nvarchar](20) NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_Machine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManufacturingDefects]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManufacturingDefects](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](500) NULL,
	[PartName] [nvarchar](100) NULL,
	[QtyOrder] [int] NOT NULL,
	[QtyNG] [int] NOT NULL,
	[DateMonth] [date] NOT NULL,
	[ErrorDetected] [nvarchar](50) NOT NULL,
	[ErrorType] [nvarchar](50) NOT NULL,
	[ErrorCause] [nvarchar](50) NULL,
	[ErrorContent] [nvarchar](500) NOT NULL,
	[ToleranceAssessment] [nvarchar](20) NULL,
	[Reason] [nvarchar](max) NULL,
	[Countermeasure] [nvarchar](max) NULL,
	[NCC] [nvarchar](10) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[Department] [nvarchar](20) NULL,
	[ErrorCompletionDate] [date] NULL,
	[RemedialMeasures] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
	[TimeWriteError] [nvarchar](50) NULL,
	[ReviewNnds] [nvarchar](500) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_ManufacturingDefect] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformanceFeedbacks]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceFeedbacks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[FeedbackContent] [nvarchar](max) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_PerformanceFeedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ClaimValue] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productivities]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productivities](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[Score] [decimal](5, 2) NOT NULL,
	[ReportingMonth] [tinyint] NOT NULL,
	[ReportingYear] [int] NOT NULL,
 CONSTRAINT [PK_Productivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](max) NOT NULL,
	[OptionB] [nvarchar](max) NOT NULL,
	[OptionC] [nvarchar](max) NOT NULL,
	[OptionD] [nvarchar](max) NOT NULL,
	[CorrectOption] [nvarchar](1) NOT NULL,
	[ExamId] [bigint] NOT NULL,
	[DisplayOrder] [bigint] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionTrialRuns]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTrialRuns](
	[Id] [bigint] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](max) NOT NULL,
	[OptionB] [nvarchar](max) NOT NULL,
	[OptionC] [nvarchar](max) NOT NULL,
	[OptionD] [nvarchar](max) NOT NULL,
	[CorrectOption] [nvarchar](10) NOT NULL,
	[IsCritical] [tinyint] NOT NULL,
	[ExamTrialRunId] [bigint] NOT NULL,
	[DisplayOrder] [bigint] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplacementEquipmentAndSupplies]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplacementEquipmentAndSupplies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EquipmentAndlSupplies] [nvarchar](500) NOT NULL,
	[FilePdf] [nvarchar](255) NULL,
	[EquipmentRepairId] [bigint] NOT NULL,
 CONSTRAINT [PK_ReplacementEquipmentAndSupplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SawingPerformances]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SawingPerformances](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[SalesAmountUSD] [decimal](10, 2) NOT NULL,
	[WorkMinute] [int] NOT NULL,
	[SalesRate] [decimal](10, 2) NOT NULL,
	[ReportingMonth] [tinyint] NOT NULL,
	[ReportingYear] [int] NOT NULL,
 CONSTRAINT [PK_SawingPerformance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRunPracticeDetails]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRunPracticeDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TestRunPracticeId] [bigint] NOT NULL,
	[OperationName] [nvarchar](10) NOT NULL,
	[PrepTimeStandard] [int] NOT NULL,
	[PrepTimeActual] [int] NULL,
	[OffsetCountStandard] [int] NOT NULL,
	[OffsetCountActual] [int] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_TestRunPracticeDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRunPractices]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRunPractices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[TestRunName] [nvarchar](50) NOT NULL,
	[TestRunLevel] [nvarchar](20) NOT NULL,
	[PartName] [nvarchar](50) NOT NULL,
	[Result] [nvarchar](10) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
 CONSTRAINT [PK_TestRunPractice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainings]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TrainingName] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_Training] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingSessionDetails]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingSessionDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TrainingSessionId] [bigint] NOT NULL,
	[TrainingId] [bigint] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_TrainingSessionDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingSessions]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingSessions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[TrainingId] [bigint] NOT NULL,
	[Status] [int] NOT NULL,
	[EvaluationPeriod] [nvarchar](100) NOT NULL,
	[Score] [tinyint] NOT NULL,
 CONSTRAINT [PK_TrainingSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Violation5S]    Script Date: 20/11/2025 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Violation5S](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Content5S] [nvarchar](max) NOT NULL,
	[Penaty] [decimal](10, 0) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [date] NULL,
	[DeleteBy] [bigint] NULL,
	[DeleteAt] [date] NULL,
 CONSTRAINT [PK_Violation5S] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EquipmentRepairs] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[ExamResults] ADD  CONSTRAINT [DF_ExamResult_IsShow]  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[ExamResults] ADD  CONSTRAINT [DF_Table_1_TnPoint]  DEFAULT ((0)) FOR [MultipleChoiceScore]
GO
ALTER TABLE [dbo].[ExamResults] ADD  CONSTRAINT [DF_Table_1_TlPoint]  DEFAULT ((0)) FOR [EssayScore]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exam_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exam_TlTotal]  DEFAULT ((0)) FOR [TlTotal]
GO
ALTER TABLE [dbo].[ExamTrialRun] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswer] ADD  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswer] ADD  DEFAULT ((0)) FOR [MultipleChoiceCorrect]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswer] ADD  DEFAULT ((0)) FOR [MultipleChoiceInCorrect]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswer] ADD  DEFAULT ((0)) FOR [MultipleChoiceFail]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswer] ADD  DEFAULT ((0)) FOR [EssayCorrect]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswer] ADD  DEFAULT ((0)) FOR [EssayInCorrect]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswer] ADD  DEFAULT ((0)) FOR [EssayFail]
GO
ALTER TABLE [dbo].[MachineMaintenances] ADD  DEFAULT ((0)) FOR [IsComplete]
GO
ALTER TABLE [dbo].[PerformanceFeedbacks] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[QuestionTrialRuns] ADD  CONSTRAINT [DF_QuestionTrialRuns_IsCritical]  DEFAULT ((0)) FOR [IsCritical]
GO
ALTER TABLE [dbo].[QuestionTrialRuns] ADD  CONSTRAINT [DF_QuestionTrialRuns_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Violation5S] ADD  DEFAULT ((0)) FOR [Penaty]
GO
